[Desktop Entry]
Name=Spacebar
Name[az]=Spacebar
Name[ca]=Spacebar
Name[ca@valencia]=Spacebar
Name[cs]=Spacebar
Name[de]=Spacebar
Name[en_GB]=Spacebar
Name[es]=Spacebar
Name[et]=Spacebar
Name[eu]=Spacebar
Name[fi]=Spacebar
Name[fr]=Barre d'espace
Name[gl]=Spacebar
Name[hi]=स्पेसबार
Name[it]=Spacebar
Name[ka]=Spacebar
Name[ko]=Spacebar
Name[lt]=Spacebar
Name[nl]=Spatiebalk
Name[nn]=Spacebar
Name[pa]=ਸਪੇਸਬਾਰ
Name[pl]=Spacebar
Name[pt]=Spacebar
Name[pt_BR]=Spacebar
Name[ro]=Spacebar
Name[sk]=Spacebar
Name[sl]=Spacebar
Name[sv]=Spacebar
Name[tg]=Фосилагузор
Name[tr]=Spacebar
Name[uk]=Spacebar
Name[x-test]=xxSpacebarxx
Name[zh_CN]=Spacebar
Name[zh_TW]=空間列
GenericName=SMS/MMS messaging client
GenericName[ca]=Client de missatgeria SMS/MMS
GenericName[ca@valencia]=Client de missatgeria SMS/MMS
GenericName[en_GB]=SMS/MMS messaging client
GenericName[es]=Cliente de mensajería SMS/MMS
GenericName[eu]=SMS/MMS mezularitza bezeroa
GenericName[fr]=Client pour messagerie SMS / MMS
GenericName[it]=Client di messaggistica SMS/MMS
GenericName[ka]=SMS/MMS შეტყობინებების კლიენტი
GenericName[ko]=SMS/MMS 메시지 클라이언트
GenericName[nl]=Client voor SMS/MMS berichten
GenericName[pt]=Cliente de mensagens SMS/MMS
GenericName[sl]=Odjemalec sporočil SMS/MMS
GenericName[tr]=SMS/MMS iletileşme istemcisi
GenericName[uk]=Клієнт обміну повідомленнями SMS/MMS
GenericName[x-test]=xxSMS/MMS messaging clientxx
Comment=Instant Messenger
Comment[az]=Ani İsmarıc
Comment[ca]=Missatgeria instantània
Comment[ca@valencia]=Missatgeria instantània
Comment[cs]=Komunikátor
Comment[de]=Instant Messenger
Comment[en_GB]=Instant Messenger
Comment[es]=Mensajería instantánea
Comment[et]=Kiirsuhtlusrakendus
Comment[eu]=Bat-bateko mezularia
Comment[fi]=Pikaviestin
Comment[fr]=Messagerie instantanée
Comment[gl]=Mensaxaría instantánea
Comment[hi]=तत्काल सन्देश वाहक
Comment[it]=Messaggistica istantanea
Comment[ka]=მყისი შეტყობინებები
Comment[ko]=인스턴트 메신저
Comment[lt]=Pokalbių programa
Comment[nl]=Instant-messenger
Comment[nn]=Lynmeldingsprogram
Comment[pa]=ਤੁਰੰਤ ਮੈਸੈਂਜਰ
Comment[pl]=Program do rozmów
Comment[pt]=Mensageiro Instantâneo
Comment[pt_BR]=Mensageiro instantâneo
Comment[ro]=Mesagerie instantanee
Comment[sk]=Instant Messenger
Comment[sl]=Neposredni sporočilnik
Comment[sv]=Direktmeddelande
Comment[tg]=Паёмнависии фаврӣ
Comment[tr]=Anlık İletileşme
Comment[uk]=Обмін миттєвими повідомленнями
Comment[x-test]=xxInstant Messengerxx
Comment[zh_CN]=即时通讯工具
Comment[zh_TW]=即時聊天程式
Version=1.0
Exec=spacebar %u
Icon=org.kde.spacebar
Type=Application
Terminal=false
Categories=Qt;KDE;Network;Telephony;X-Communication;Chat;X-Messaging
Keywords=SMS;MMS;chat;messaging;modem
Keywords[ca]=SMS;MMS;xat;missatgeria;modem
Keywords[ca@valencia]=SMS;MMS;xat;missatgeria;modem
Keywords[en_GB]=SMS;MMS;chat;messaging;modem
Keywords[es]=SMS;MMS;chat;charla;mensajería;módem
Keywords[eu]=SMS;MMS;berriketa;mezularitza;modema
Keywords[fr]=SMS ; MMS ; chat ; messagerie ; modem
Keywords[ka]=SMS;MMS;chat;messaging;modem
Keywords[ko]=채팅;채트;대화;메시지;메신저;모뎀
Keywords[nl]=SMS;MMS;chat;messaging;modem
Keywords[pt]=SMS;MMS;conversa;mensagens;modem
Keywords[sl]=SMS;MMS;klepet;sporočanje;modem
Keywords[tr]=SMS;MMS;sohbet;mesajlaşma;iletileşme;modem
Keywords[uk]=SMS;MMS;chat;messaging;modem;смс;есемес;ммс;емемес;спілкування;повідомлення;модем
Keywords[x-test]=xxSMSxx;xxMMSxx;xxchatxx;xxmessagingxx;xxmodemxx
MimeType=x-scheme-handler/sms
