[Desktop Entry]
Name=Spacebar
Comment=Instant Messenger
Version=1.0
Exec=spacebar
Icon=org.kde.spectacle
Type=Application
Terminal=false
Categories=Qt;KDE;
