[Desktop Entry]
Name=spacebear
Comment=spacebear Kirigami Application
Version=1.0
Exec=spacebear
MimeType=application/x-spacebear;
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
