[Desktop Entry]
Name=Spacebar
Name[ca]=Spacebar
Name[ca@valencia]=Spacebar
Name[cs]=Spacebar
Name[de]=Spacebar
Name[es]=Spacebar
Name[et]=Spacebar
Name[fi]=Spacebar
Name[fr]=Spacebar
Name[gl]=Spacebar
Name[it]=Spacebar
Name[ko]=Spacebar
Name[nl]=Spatiebalk
Name[pl]=Spacebar
Name[pt]=Spacebar
Name[sv]=SpaceBar
Name[tg]=Фосилагузор
Name[uk]=Spacebar
Name[x-test]=xxSpacebarxx
Name[zh_TW]=空間列
Comment=Instant Messenger
Comment[ca]=Missatgeria instantània
Comment[ca@valencia]=Missatgeria instantània
Comment[cs]=Komunikátor
Comment[de]=Instant Messenger
Comment[es]=Mensajería instantánea
Comment[et]=Kiirsuhtlusrakendus
Comment[fi]=Pikaviestin
Comment[fr]=Messagerie instantanée
Comment[gl]=Mensaxaría instantánea
Comment[it]=Messaggistica istantanea
Comment[ko]=인스턴트 메신저
Comment[nl]=Instant-messenger
Comment[pl]=Komunikator
Comment[pt]=Mensageiro Instantâneo
Comment[sv]=Direktmeddelande
Comment[tg]=Паёмнависии фаврӣ
Comment[uk]=Обмін миттєвими повідомленнями
Comment[x-test]=xxInstant Messengerxx
Comment[zh_TW]=即時聊天程式
Version=1.0
Exec=spacebar
Icon=org.kde.spacebar
Type=Application
Terminal=false
Categories=Qt;KDE;Chat;InstantMessaging;Network;
