[Desktop Entry]
Name=SpaceBar
Name[ca]=Barra d'espai
Name[ca@valencia]=Barra d'espai
Name[de]=SpaceBar
Name[en_GB]=SpaceBar
Name[es]=Barra espaciadora
Name[fi]=SpaceBar
Name[fr]=Barre d'espace
Name[gl]=SpaceBar
Name[it]=SpaceBar
Name[ko]=SpaceBar
Name[nl]=Spatiebalk
Name[nn]=SpaceBar
Name[pl]=SpaceBar
Name[pt]=SpaceBar
Name[ru]=SpaceBar
Name[sv]=SpaceBar
Name[tr]=BoşlukÇubuğu
Name[uk]=SpaceBar
Name[x-test]=xxSpaceBarxx
Name[zh_CN]=SpaceBar
Name[zh_TW]=空間列
Comment=Messages Application
Comment[ca]=Aplicació de missatges
Comment[ca@valencia]=Aplicació de missatges
Comment[de]=Benachrichtigungs-Programm
Comment[en_GB]=Messages Application
Comment[es]=Aplicación de mensajes
Comment[fi]=Viestisovellus
Comment[fr]=Application de messages
Comment[gl]=Aplicativo de mesaxes
Comment[it]=Applicazione per messaggi
Comment[ko]=메시지 프로그램
Comment[nl]=Toepassing voor meldingen
Comment[nn]=Meldingsprogram
Comment[pl]=Komunikator internetowy
Comment[pt]=Aplicação de Mensagens
Comment[ru]=Программа обмена сообщениями
Comment[sv]=Meddelandeprogram
Comment[tr]=İleti Uygulaması
Comment[uk]=Програма для обміну повідомленнями
Comment[x-test]=xxMessages Applicationxx
Comment[zh_CN]=短信应用
Comment[zh_TW]=訊息應用程式
Encoding=UTF-8
Keywords=
Type=Application
Icon=spacebar
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Category=Communications
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.spacebar
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/Generic
Exec=org.kde.spacebar %u

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
