[Desktop Entry]
Name=SpaceBar
Name[nl]=Spatiebalk
Name[pt]=SpaceBar
Name[sv]=SpaceBar
Name[uk]=SpaceBar
Name[x-test]=xxSpaceBarxx
Comment=Messages Application
Comment[nl]=Toepassing voor meldingen
Comment[pt]=Aplicação de Mensagens
Comment[sv]=Meddelandeprogram
Comment[uk]=Програма для обміну повідомленнями
Comment[x-test]=xxMessages Applicationxx
Encoding=UTF-8
Keywords=
Type=Application
Icon=spacebar
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Category=Communications
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.spacebar
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/Generic
Exec=org.kde.spacebar %u

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
